.modal {
    border-radius: rem(24px);
    box-shadow: $box-shadow-modal;

    &#{&}--small {
        width: rem(610px);
    }

    &--small & {
        &__section {
            @media #{$screen-tablet} {
                padding-left: rem(120px);
                padding-right: rem(120px);
            }
        }
    }

    &--centred & {
        &__section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: rem(20px);
    }

    &__content {
        display: flex;
        flex-direction: column;

        height: auto !important;
        max-width: 100%;

        padding-top: rem(32px);
        padding-bottom: rem(32px);

        @media #{$screen-tablet} {
            padding-top: rem(48px);
            padding-bottom: rem(48px);
        }
    }

    &__section {
        padding-right: rem(16px);
        padding-left: rem(16px);
        
        &--header {
            display: flex;
            justify-content: center;
            flex-shrink: 0;

            padding-bottom: rem(24px);

            @media #{$screen-tablet} {
                padding-bottom: rem(20px);
            }
        }

        &--content {
            flex-grow: 1;
        }

        &--actions {
            margin-top: rem(40px);
        }
    }

    &__title {
        font-size: rem(20px);
        line-height: rem(28px);
        font-weight: $font-weight-title;
    }

    &__button {
        justify-content: center;

        width: 100%;

        padding-top: rem(10px);
        padding-bottom: rem(10px);
    }

    .fancybox {
        &-bg {
            background: rgba(#3a3a43, .55);
        }

        &-close {
            $button-offset: 12px;

            position: absolute;
            top: $button-offset;
            right: $button-offset;

            cursor: pointer;

            @media #{$screen-tablet} {
                $button-offset: 20px;

                top: $button-offset;
                right: $button-offset;
            }

            &-icon {
                $icon-size: 24px;

                width: $icon-size;
                height: $icon-size;

                color: #37a7df;
            }
        }

        &-content {
            overflow: visible;

            padding: 0;
        }

        &-slide {
            $modal-overlay-offset: 16px;

            padding-left: rem($modal-overlay-offset);
            padding-right: rem($modal-overlay-offset);
        }

        &-navigation {
            display: block;
        }
    }
}